---
title: твойнет
---
extends layouts/_layout
block content
  section.connect
    .container
      .row
        .col-xs-12
          .heading
            h2 Подключение:
        .col-xs-12
          .connect__check
            h2 Проверить возможность подключения
            form.address__form
              .connect__check__input
                input.connect__check__input__street(type="text" placeholder="Название улицы")
                input.connect__check__input__home(type="text" placeholder="Дом")
                select.select
                  option А
                  option B
              .connect__check__button
                a(href="#").btn.btn-secondary Подключение
            p Для того чтобы проверить техническую возможность подключения к
              img(src="img/logo-text.png", alt="") 
              | Вам необходимо в форме выше выбрать Вашу улицу и номер дома (букву дома, если необходимо) и нажать кнопку Проверить. 
            p Скачать и ознакомится с публичным договором подключения к Интернет можно по этой 
              a(href="#") ссылке.
          .connect__text
            h2 Подключение
            h3 всего за
            h4 0,01 
              span грн
            p * Подключение юр.лиц расчитываются в индивидуальном порядке.
          .connect__content
            h3 Стоимость и объём услуг при подключении
            p В многоквартирных жилых домах по технологии FTTH для физических лиц.
            ul
              p В подключение входит:
              li затяжка кабеля по квартире абонента требуемой длины до компьютера;
              li настройка компьютера для работы в сети и Интернет
              li установка и настройка ПО необходимого для работы в локальной сети и Интернет;
              li присвоение одного семизначного лицевого счета;
              li присвоение одного локального IP адреса;
              li краткий инструктаж по работе в сети.
            h3 Условия подключения
            p Любые затраты на организацию канала связи и его эксплуатацию, связанные с нетипичным подключением, считаются отдельно и оговаривается дополнительными соглашениями, в случае необходимости. 
            p Сетевая карта не входит в стоимость подключения. Хотя она присутствует почти во всех современныхкомпьютерах, при необходимости ее можно установить дополнительно. Стоимость сетевой карты 110грн., с установкой 160 грн. 
            ul
              li стоимость подключения - 0,01 грн; 
              li при подключении, абонентом вносится аванс на счет Интернета в размере ежемесячного платежа; 
              li по умолчанию подключен тариф "Твой безлим 60", до момента подключения можно заказать 
              li более высокую скорость, после подключения абонент самостоятельно может заказать на следующий месяц любой из доступных тарифов. 
          .connect__abonent
            .connect__abonent__img
              img(src="img/connect/girls.png", alt="")  
            .connect__abonent__text
              p Если вы уже абонент
                img(src="img/logo-text.png", alt="")
              h3 Подключи друга - 
                p получи на счёт 
                  span 100 грн
              p Все что нужно Вашему другу, это сообщить номер Вашего лицевого счета при подаче заявки на подключение. Система автоматически начислит Вам бонус после подключения.

            