//BEGIN header
header.header
  .header__top
    .container
      .row.middle-xs
        .col-md-6.col-md-offset-5
          ul
            li 
              a(href="#") Новости
            li 
              a(href="#") О компании
            li 
              a(href="#") Вакансии
            li 
              a(href="#")  Вопрос / Жалоба
        .col-md-1.end-xs.flex
          .header__top__social
            a(href="facebook.com" taget="_blank")
              i.icon.icon-facebook
            a(href="instagram.com" taget="_blank")
              i.icon.icon-instagram
  .header__middle
    .container
      .row.middle-xs
        .col-md-5
          a(href="/").header__middle__logo
            img(src="img/logo.png", alt="")
        .col-md-3
          .header__middle__phone
            i.icon.icon-phone
            div
              a(href="tel: (068) 221-01-10") (068) 221-01-10
              a(href="tel: (050) 550-01-10") (050) 550-01-10
            div
              a(href="tel: (061) 221-01-10") (061) 221-01-10
              a(href="tel: (073) 550-01-10") (073) 550-01-10
        .col-md-4
          .header__middle__call
            a(href="#")
              i.icon.icon-call24
              p Call<br>центр
            a(href="#")
              i.icon.icon-recall
              p Перезвоните<br>мне
  .header__bottom
    .container
      .row
        .col-xs-12
          nav
            ul
              li
                a(href="connect.html")
                  div
                    img(src="img/menu/plug.svg", alt="")
                  span Подключение
              li
                a(href="#")
                  div
                    img(src="img/menu/computer.svg", alt="")
                  span Тарифы
              li
                a(href="#")
                  div
                    img(src="img/menu/tv.svg", alt="")
                  span ТВ
              li
                a(href="#")
                  div
                    img(src="img/menu/settings.svg", alt="")
                  span Доп. услуги
              li
                a(href="#")
                  div
                    img(src="img/menu/speed.svg", alt="")
                  span Скорость
              li
                a(href="contact.html")
                  div
                    img(src="img/menu/phone.svg", alt="")
                  span Контакты
              li
                a(href="#")
                  div
                    img(src="img/menu/help.svg", alt="")
                  span Помощь
              li
                a(href="#")
                  div
                    img(src="img/menu/card.svg", alt="")
                  span Оплата
              li
                a(href="#")
                  div
                    img(src="img/menu/login.svg", alt="")
                  span Личный кабинет            
//END header
