section.address
  .container.white
    .row
      .col-xs-12
        h2 Проверить возможность подключения по Вашему адресу:
      .col-xs-12.flex.center-xs
        form.address__form
          input(type="text" placeholder="Название улицы")
          input(type="text" placeholder="Дом")
          select.select
            option А
            option B
          a(href="#").btn.btn-secondary Подключение

      