section.news
  .container
    .row
      .col-xs-12
        .heading
          h2
            a(href="news.html") Новости:
  .container.white
    .row
      .news__block
        article
          header
            a(href="article.html")
              img(src="img/news.jpg", alt="News")
              h1 Акция: 100 Мбит/с за 65 грн/мес
          main
            p Условия акции "100 Мбит за 65 грн" Подключайтесь к интернету от ТвойНет на тарифный план "100 Мбит за 65грн" и пользуйтесь безлимитным интернетом на скорости до 100 Мбит/с за минимальную стоимость! 
          footer
            span 18.06.2018
            a(href="#") Подробнее >
      .news__block
        article
          a(href="article.html")
            header
              img(src="img/news.jpg", alt="News")
              h1 Акция: 100 Мбит/с за 65 грн/мес
          main
            p Условия акции "100 Мбит за 65 грн" Подключайтесь к интернету от ТвойНет на тарифный план "100 Мбит за 65грн" и пользуйтесь безлимитным интернетом на скорости до 100 Мбит/с за минимальную стоимость! 
          footer
            span 18.06.2018
            a(href="#") Подробнее >
      .news__block
        article
          a(href="article.html")
            header
              img(src="img/news.jpg", alt="News")
              h1 Акция: 100 Мбит/с за 65 грн/мес
          main
            p Условия акции "100 Мбит за 65 грн" Подключайтесь к интернету от ТвойНет на тарифный план "100 Мбит за 65грн" и пользуйтесь безлимитным интернетом на скорости до 100 Мбит/с за минимальную стоимость! 
          footer
            span 18.06.2018
            a(href="#") Подробнее >