section.rate
  .container
    .row
      .col-xs-12
        .heading
          h2 Тарифы:
      .col-md-3
        .rate__block
          .rate__block__rate
            h4 Безлимитный тариф:
            p 100 за 100 грн
          .rate__block__traffic
            h4 Включенный трафик:
            i.icon.icon-infinity
          .rate__block__speed
            h4 Cкорость:
            p до 100 Мбит/с
           .rate__block__price
            h4 Цена
            p 100 грн
          a(href="#").btn.btn-primary Подробнее
      .col-md-3
        .rate__block
          .rate__block__sale
            span Акция
          .rate__block__rate
            h4 Безлимитный тариф:
            p 100 за 65 грн
          .rate__block__traffic
            h4 Включенный трафик:
            i.icon.icon-infinity
          .rate__block__speed
            h4 Cкорость:
            p до 100 Мбит/с
           .rate__block__price
            h4 Цена
            p 100 грн
          a(href="#").btn.btn-primary Подробнее
      .col-md-3
        .rate__block
          .rate__block__rate
            h4 Безлимитный тариф:
            p Твой Безлим 20/60/100
          .rate__block__traffic
            h4 Включенный трафик:
            i.icon.icon-infinity
          .rate__block__speed
            h4 Cкорость:
            .many
              p до 20<br>Мбит/с
              hr
              p до 60<br>Мбит/с
              hr
              p до 100<br>Мбит/с
           .rate__block__price
            h4 Цена
            .many
              p 80<br>грн
              hr
              p 100<br>грн
              hr
              p 120<br>грн
          a(href="#").btn.btn-primary Подробнее
      .col-md-3
        .rate__block
          .rate__block__rate
            h4 Безлимитный тариф:
            p Твой Бизнес
              span для юридических лиц
          .rate__block__traffic
            h4 Включенный трафик:
            i.icon.icon-infinity
          .rate__block__speed
            h4 Cкорость:
            .many
              p до 20<br>Мбит/с
              hr
              p до 60<br>Мбит/с
              hr
              p до 100<br>Мбит/с
           .rate__block__price
            h4 Цена
            .many
              p 80<br>грн
              hr
              p 100<br>грн
              hr
              p 120<br>грн
          a(href="#").btn.btn-primary Подробнее
