.slider
  .container
    .row
      .col-xs-12
        .owl-carousel.owl-theme
            div.slider__block
              .slider__block__text
                .slider__block__text__sale
                  span Новая акция
                h2 Подключайте новый тариф:
                .slider__block__text__prices
                  div.first
                    p 100
                    span Мбит/с
                  div.second
                    p за
                  div.third
                    p 65
                    span грн/мес
                h4 Акция действует до 30.08.2018
              .slider__block__image
                img(src="img/slider.jpg", alt="")
            div.slider__block
              .slider__block__text
                .slider__block__text__sale
                  span Новая акция
                h2 Подключайте новый тариф:
                .slider__block__text__prices
                  div.first
                    p 100
                    span Мбит/с
                  div.second
                    p за
                  div.third
                    p 65
                    span грн/мес
                h4 Акция действует до 30.08.2018
              .slider__block__image
                img(src="img/slider.jpg", alt="")
            div.slider__block
              .slider__block__text
                .slider__block__text__sale
                  span Новая акция
                h2 Подключайте новый тариф:
                .slider__block__text__prices
                  div.first
                    p 100
                    span Мбит/с
                  div.second
                    p за
                  div.third
                    p 65
                    span грн/мес
                h4 Акция действует до 30.08.2018
              .slider__block__image
                img(src="img/slider.jpg", alt="")
          .prev
            i.icon.icon-prev
          .next
            i.icon.icon-next